@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

    font-size: 100%;
    font-family: Bakersville, Georgia, Times, serif;
    color: #2d2e05;
}

img {
	width: 100%;
  display: block;
}

body {
	margin: 0;
	padding: 0;
}

header{
	display: inline-block;
	width: 100%;
	float: left;
}

.logo {
	width: 3rem;
	height: 2rem;
	float: left;
	margin: .5rem;
}

header h1{
	margin: .5rem;
	padding: 0;
	overflow: hidden;
	font-size: 1rem;
	font-weight: normal;
	line-height: normal;
	text-align: center;
}

.button {
	float: right;
	margin: 1rem,
	padding: .5rem;
	font-size: .8rem;
}

.button a.
.button a:link,
.button a:visited {
	display: inline-block;
	margin: 1rem;
	padding: .5rem;
	font-size: .8rem;

}

.nav-top {
	clear: both;
}

.nav-top ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.nav-top li {
	margin: 0;
	padding: 0;
	display: inline;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	margin: 0;
	padding: .5rem;
	font-size: .5rem;
	text-decoration: none;
}

.image-wrapper {
	position: relative;
	width: 100%;
}

.image-wrapper h2 {
	position: absolute;
	left: 0;
	top: 5px;
	padding: 10px
	border: 1px solid #FFF;
	width: auto;
	color: #FFF;
	margin: 5px;
	text-align: center;
	font-size: .8rem;
}

.image-wrapper p {
	position: absolute;
	left: 0;
	top: 50px;
	padding: 20px
	border: 1px solid #FFF;
	width: auto;
	color: #FFF;
	margin: 5px;
	text-align: center;
	font-size: .5rem
}

article {
	margin: 0;
	padding: .5rem;
}

h2 {
	text-align: center;
	font-size: .9rem;
	padding: 1rem;
}

h3 {
	text-align: center;
	font-size: .7rem;
}

.def {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.def li {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: .5rem;
	width: 32%;
}

.def dl {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.def dt {
	display: inline;
	font-weight: bold;
}

.def dd {
	margin: 0;
}
